@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
}

html {
    font-size: 60%;
    /* 1rem=10px */
    /* scroll-behavior: smooth; */
    /* scroll-snap-type: Y mandatory; */
    
}

.phone-navbar {
    display: none;
}

.navbar-brand {
    position: relative;
}

.navbar-brand::after {
    content: "Lavania EduHub";
    position: absolute;
    top: 58%;
    left: 15%;
    font-size: 1.7rem;
    font-weight: 700;
    color: var(--hero-heading-color);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    text-shadow: 0.5px 1.5px 2px rgb(153, 136, 246);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif
}

p,
li,
a,
label {
    font-family: "Urbanist", sans-serif;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--para-color);
}

li {
    list-style: none;
}

/* theme */
:root {
    --main-color: #0062ff;
    --supporting-color: #ebf3fe;
    --font-color: #424242;
    --bg-color: #f7fcff;
    --heading-color: #000a19;
    --hero-heading-color: #003b99;
    --para-color: #504e4d;
    --white-color: #fff;
    --footer-bg-color: #040d12;
    --btn-hover-bg-color: #003b99;
    --black-color: #000;
    --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* layout */
.container {
    max-width: 142rem;
    margin: 0 auto;
    padding: 3rem 16rem;
}

.grid {
    display: grid;
}

.grid-two--cols {
    grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
    grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
    grid-template-columns: repeat(4, 1fr);
}

/* module/resuable */
.btn {
    display: inline-block;
    /*beasue padding not work within line element*/
    padding: 1.2rem 3.2rem;
    background-color: var(--main-color);
    color: var(--white-color);
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.section-common-heading {
    font-size: 3.2rem;
    font-weight: 700;
    text-transform: capitalize;
}

.section-common-subheading {
    color: var(--heading-color);
}

/* states */
.btn:hover {
    background-color: var(--btn-hover-bg-color);
    cursor: pointer;
    box-shadow: var(--btn-box-shadow);
}

/* navbar section */
.section-navbar {
    width: 100%;
    /* css shadow */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 1px 12px -2px, rgba(0, 0, 0, 0.3) 0px 2px 7px -3px;
}

.section-navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 15rem;
}

.section-navbar .navbar ul {
    display: flex;
    gap: 3.2rem;

    & li a {
        color: var(--heading-color);
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.6rem;
        display: inline-block;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: -0.3rem;
            left: 0;
            width: 0%;
            border-bottom: 0.2rem solid var(--main-color);
            transition: all 0.3s linear;
        }

    }

    & li a:hover:after {
        width: 100%;
    }
}

.section-hero {
    width: 100%;
}

.section-hero--image img {
    max-height: 60rem;
}

/* navbar Section  */
/*End hero-section */
main {
    position: relative;
    /* BY blue css grdient */
    background: linear-gradient(89.8deg, rgb(65, 130, 251) 4.3%, rgb(77, 239, 248) 101.4%);
}

/* shape divider --> waves by using  shape divider website*/
.custom-shape-divider-bottom-1706945994 {
    margin-bottom: -1px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1706945994 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1706945994 .shape-fill {
    fill: #FFFFFF;
}

.section-hero .grid {
    align-items:start;
    gap: 6.4rem;
    & .hero-subheading {
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-size: 1.7rem;
        word-spacing: 0.2rem;
        color: var(--hero-heading-color);
        font-weight: 900;
    }

    & .hero-heading {
        font-size: 4.8rem;
        line-height: 1.3;
        font-family: 'Jost';
        color: var(--hero-heading-color);
        font-weight: 900;
    }

    & .hero-para {
        color: var(--white-color);
        margin: 2rem 0 4.2rem 0;
    }
}

.section-hero .section-hero--image img {
    width: 100%;
    /*aspect-ratio: 1;*/
    height: 80vh;
    object-fit: cover;
    transform: scaleX(-1);
    /*To revert the image*/
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
}

/*End hero-section */

/*start about section */

.section-about .about-div {
    text-align: center;
}

.section-about img {
    padding: 2.4rem;
    background-color: var(--supporting-color);
    width: 12rem;
    aspect-ratio: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.section-common--title {
    font-size: 2rem;
    margin: 2rem 0 1.2rem 0;
    font-weight: 500;
}

.section-about .grid {
    gap: 6.4rem;
}

/* .about-div .icon:hover>img{ } ---> it apply when you hover on image near */
.about-div .icon img:hover {
    /* background-color: red; */
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    background-image: linear-gradient(to right, #0575eb, #021b79);
}

/* end about section */

/* start course Section */
/* .section-course{
    scroll-snap-align: start;
} */
.fa-brands {
    padding: 2rem;
    width: 5.8rem;
    height: 6rem;
    background-color: var(--para-color);
    font-size: 2.4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--hero-heading-color);
}

.icon .fa-solid {
    padding: 1.6rem 0.4rem 1rem 0.7rem;
    background-color: var(--para-color);
    font-size: 2.4rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 2rem;
    height: 6rem;
    width: 5.8rem;
    text-align: center;
}

.fa-js {
    /*By color hunt */
    color: #ffdf2d;
}

.section-course .grid {
    gap: 3.2rem;
}

.section-course .course-div {
    padding: 3.2rem;
}

.section-course .course-div:hover {
    box-shadow: var(--btn-box-shadow);
}

.course-div:nth-child(2) .icon .fa-brands {
    color: rgb(148, 148, 255);
}

.course-div:nth-child(3) .icon .fa-solid {
    color: var(--supporting-color);
}

.course-div:nth-child(4) .icon .fa-brands {
    color: rgb(96, 255, 255);
}

.course-div:nth-child(5) .icon .fa-brands {
    color: rgb(255, 81, 81);
}

.course-div:nth-child(6) .icon .fa-brands {
    color: skyblue;
}

.course-div:nth-child(7) .icon .fa-solid {
    color: rgb(7, 113, 251);
}

/* End course Section */

/* why choose Section  */
.section-why--choose .text-align--right .why-choose--div {
    /*so that, text align right apply only in .text-align--right */
    /* text-align: right; -->> beacuse not applicable in icon  */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-end;
    text-align: right;
}

.why-choose--div {
    margin-top: 3.2rem;
}

.common-text--highlight {
    width: 6rem;
    aspect-ratio: 1;
    background-color: var(--supporting-color);
    color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 700;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.choose-center--div img {
    /* width: 30rem; */
    width: 90%;
    height: 100%;
    opacity: 0.85;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.section-why--choose .grid {
    gap: 5rem;
}

.choose-center--div,
figure {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}



.choose-center--div figure::before,
.choose-center--div figure::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    width: 36rem;
    aspect-ratio: 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: -1;
    box-shadow: 0px 1px 3px 5px #003b99;
}

.choose-center--div figure::after {
    width: 40rem;
    aspect-ratio: 1;
    background-color: transparent;
    z-index: -2;
    border: 0.5rem solid var(--supporting-color);
}

.choose-center--div figure::before {
    animation: circle 5s linear infinite;
    -webkit-animation: circle 5s linear infinite;
}

@keyframes circle {
    0% {
        background-color: #b3d0ff;
    }

    25% {
        background-color: #80b1ff;
    }

    50% {
        background-color: #4d91ff;
    }

    75% {
        background-color: #99c0ff;
    }

    100% {
        background-color: #3381ff;
    }
}

/*End choose Section*/

/* start footer (Contact home section) section  */
.section-contact--homepage {
    width: 60%;
    min-height: 20rem;
    margin: 0 auto;
    box-shadow: var(--btn-box-shadow);
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    /* margin-bottom: 5rem; */
    /* padding:-20rem; */
    bottom: -16rem;
    position: relative;
    z-index: 1;
    /*For center in the footer*/
    background-color: var(--white-color);
    margin-top: -12rem;

    & .grid {
        align-items: center;
        gap: 5rem;
    }

    ;
}

.container2 .contact-content {
    padding: 7rem 0 7rem 3rem;
}

.contact-title {
    font-size: 3rem;
    line-height: 1;

}

.contact-content p {
    margin: 1.2rem 0 2.4rem 0;
}

.section-contact--homepage img {
    width: 95%;
    height: auto;
}

.section-contact--homepage a {
    color: var(--white-color);
    text-transform: capitalize;
}

.section-contact--homepage .fa-solid {
    font-size: 2rem;
    margin: 0 0 0 0.5rem;
    padding: 0;
    background-color: var(--white-color);
    color: var(--main-color);
}

/* End  footer (Contact home section) section */

/*start footer Section */
footer {
    background-color: var(--footer-bg-color);
    padding-top: 15rem;
    position: absolute;
    background-attachment: fixed;
    width: 100%;
}

footer * {
    color: var(--white-color);
}

.footer-1--div {
    text-align: left;
}

.footer-2--div,
.footer-3--div,
.footer-4--div {
    text-align: right;
}

.footer-1--div p {
    margin: 0.5rem 0 3rem 0;
}

.logo-brand .footer-subheading {
    font-size: 1.8rem;
    font-weight: 700;
}

.footer{
    .logo-brand a{
        font-size: 2.2rem;
        font-weight: bold;
    }
    p{
        font-size: 2rem;
        font-weight: bold;
    }
}
/* !Start for blog icon */

.section-blog {
    background-color: var(--bg-color);
    .grid-four--cols {
        gap: 1.5rem;
    }
    & .blog {
        box-shadow: var(--btn-box-shadow);
        transition: scale 0.3s linear;
        -webkit-transition: scale 0.3s linear;
        -moz-transition: scale 0.3s linear;
        -ms-transition: scale 0.3s linear;
        -o-transition: scale 0.3s linear;

        &:hover {
            scale: 1.1;
        }

        & .blog-content {
            padding: 1.4rem 2.4rem 2.4rem;
        }
    }

    & img {
        width: 100%;
        height: auto;
    }

    & .blog-date {
        display: flex;
        /* padding: 0; */
        justify-content: space-between;
        margin: 1.6rem 0 0 0;
        font-size: 1.4rem;

        & .fa-solid {
            background-color: transparent;
            padding: 0;
            margin: 0;
            color: var(--hero-heading-color);
        }

        & .fa-calendar-days {
            margin: 0;
            padding: 0;
        }
    }

    & .section-common--title {
        margin-top: 0.8rem;
        font-size: 1.8rem;
        font-weight: 500;
    }
}

/* !end for blog icon */
.fa-arrow-right {
    border-radius: 50%;
    max-width: 2rem;
    max-height: 2rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.social-footer--icons {
    display: flex;
    gap: 1.4rem;
}

.social-footer--icons .fa-brands {
    padding: 4px;
    max-width: 4rem;
    max-height: 4rem;
    display: grid;
    place-items: center;
    color: #003b99;
    font-size: 2rem;
    background-color: var(--white-color);
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;

    &:hover {
        color: var(--supporting-color);
        background-color: var(--btn-hover-bg-color);
        rotate: 360deg;
    }
}

/* End fooeter Section */

/* ! Start for contact page */
.mb-3 {
    margin-bottom: 2rem;
}

.contact-content .grid {
    gap: 6.4rem;
}

label .label_form{
    display: block;
    text-transform: capitalize;
}

input,
textarea {
    width: 100%;
    padding: 1.4rem 2.4rem;
    font-size: 1.7rem;
    letter-spacing: 0.1rem;
}

::placeholder {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
}

.btn-submit {
    font-size: 1.8rem;
    border: none;
}

input:focus-visible,
textarea:focus-visible {
    outline: 0.1rem solid var(--btn-hover-bg-color);
}

.section-contact {
    & .grid {
        gap: 6.4rem;
    }
}
iframe{
    width: 40vw;
}
/* ! End for contact page */
/*Start Scrollbar*/
     /* width */
::-webkit-scrollbar {
    width: 1rem;
}

     /* Trank */
::-webkit-scrollbar-track {
    background: var(--supporting-color);
}

      /* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-color);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

/*End Scrollbar*/
@media only screen and (max-width:1260px) {
    .choose-center--div figure::before,
    .choose-center--div figure::after {
        width: 29.5rem;
    }
    .choose-center--div figure::after {
        width: 32rem;
    }
}

@media only screen and (max-width:1150px) {
    html {
        font-size: 56.26%;
    }

    .navbar-brand::after {
        font-size: 1.3rem;
    }

    .choose-center--div img {
        height: 35rem;
    }

    .choose-center--div figure::before,
    .choose-center--div figure::after {
        width: 29rem;

    }

    .choose-center--div figure::after {
        width: 32rem;
    }
   
}

@media only screen and (max-width:1060px) {
    html {
        font-size: 55%;
    }

    .container {
        padding: 3rem 12rem;
    }

    .navbar-brand::after {
        font-size: 2.1rem;
        top: 50%;
    }
}

@media only screen and (max-width:1000px) {
    html {
        font-size: 54%;
    }

    .container {
        padding: 3rem 6rem;
    }

    .navbar-brand::after {
        font-size: 2rem;
        top: 50%;
    }

    .choose-center--div img {
        height: 32rem;
    }

    .choose-center--div figure::before,
    .choose-center--div figure::after {
        width: 28rem;

    }

    .choose-center--div figure::after {
        width: 30rem;
    }

    .section-why--choose {
        & .choose-center--div {
            order: -1;
        }
    }

    .section-hero--content {
        padding-bottom: 6rem;
    }

    .section-contact--homepage {
        width: 65%;
        height: 27rem;
        bottom: -13rem;
        margin-top: -12rem;
    }

    .section-hero .grid {
        gap: 5rem;
    }

    :is(.section-course, .section-blog) .grid-four--cols {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap:3rem;
    }
    footer .grid-four--cols {
        grid-template-columns: repeat(3, minmax(250px, 1fr));
        & .footer-1--div {
            grid-row: 2/3;
            grid-column: 1/4;
            margin-top: 6.4rem;
            text-align: center;

            & .social-footer--icons {
                display: flex;
                justify-content: center;
            }
        }
    }

    .footer-2--div,
    .footer-3--div,
    .footer-4--div {
        text-align: center;
    }
}

@media only screen and (max-width:900px) {
    html {
        font-size: 54%;
    }

    .container {
        padding: 3rem 4rem;
    }

    .navbar-brand::after {
        font-size: 1.8rem;
        top: 55%;
    }

    .section-hero--content {
        padding-bottom: 12rem;
    }

    .choose-center--div img {
        height: 35rem;
    }

    .choose-center--div figure::before,
    .choose-center--div figure::after {
        width: 30rem;

    }

    .choose-center--div figure::after {
        width: 32rem;
    }

    .section-contact--homepage {
        width: 65%;
        height: 27rem;
        bottom: -13rem;
        margin-top: -12rem;
    }

    .btn {
        padding: .5rem 1rem 1rem 1rem;
    }

    .section-hero .grid {
        gap: 2rem;
    }

    .section-navbar .container {
        padding: 2rem 8rem;
    }
}

@media only screen and (max-width:850px) {

    /* ! Start phone navbar */
    .phone-navbar {
        display: block;
        height: 8rem;
    }

    .section-navbar {
        display: none;
    }

    .phone-navbar {
        width: 100%;
        box-shadow: 0px 25px 20px -30px rgba(31, 30, 30, 0.45);
    }

    .navbar-brand::after {
        top: 35%;
        left: 15%;
        font-size: 2rem;
    }

    .phone-navbar .container {
        display: flex;
        justify-content: space-between;
        position: relative;
        /* bottom: 20%; */
        padding: 2rem 4rem 3rem 4rem;
    }

    #phone-menu {
        display: flex;
        flex-direction: column;
        gap: .4rem;
        cursor: pointer;
    }

    #bar1,
    #bar2,
    #bar3 {
        width: 3rem;
        height: .5rem;
        background-color: #070707;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }

    .navbar--hamburger {
        padding: 2rem 0;
    }

    .navbar-list {
        display: none;
    }

    /* when we click on menu then by javascript with property classList.toggle, it will be change all properties */
    .phone-hamburger #bar1 {
        transform: translateY(8px) rotate(-45deg);
        -webkit-transform: translateY(8px) rotate(-45deg);
        -moz-transform: translateY(8px) rotate(-45deg);
        -ms-transform: translateY(8px) rotate(-45deg);
        -o-transform: translateY(8px) rotate(-45deg);
        transition-duration: 0.4s;
    }

    .phone-hamburger #bar3 {
        transform: translateY(-6px) rotate(45deg);
        -webkit-transform: translateY(-6px) rotate(45deg);
        -moz-transform: translateY(-6px) rotate(45deg);
        -ms-transform: translateY(-6px) rotate(45deg);
        -o-transform: translateY(-6px) rotate(45deg);
        transition-duration: 0.4s;
    }

    .phone-hamburger #bar2 {
        opacity: 0;
        transition-duration: 0.5s;
    }

    /* here nav class convert into change class by javascript with property classList.toggle */
    .list-change {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 100;
        bottom: 55%;
        right: 13vw;
        gap: 2rem;

        & .nav-link {
            font-size: 2rem;
            text-transform: capitalize;
            color: #000a19;
            font-weight: 500;
            font-family: sans-serif, Impact, Haettenschweiler, 'Arial Narrow Bold';
        }
    }

    .phone-navbar .navbar-hamburger .list-change {
        display: flex;
        gap: 3.2rem;

        & li a {
            color: var(--heading-color);
            text-transform: uppercase;
            font-weight: 600;
            font-size: 1.6rem;
            display: inline-block;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: -0.3rem;
                left: 0;
                width: 0%;
                border-bottom: 0.2rem solid var(--main-color);
                transition: all 0.3s linear;
            }
        }

        & li a:hover:after {
            width: 100%;
        }
    }

    /* !End phone navbar  */
    .section-hero {
        height: auto;

        & .grid-two--cols {
            grid-template-columns: 1fr;
            gap: 0;

            & .hero-subheading {
                font-size: 2rem;
            }

            & .section-hero--content {
                padding-bottom: 1rem;
                order: 1;

                & .hero-para {
                    font-size: 1.8rem;
                }
            }

            & .section-hero--image {
                order: 2;
                height: 59rem;
            }
        }
    }

    .section-contact--homepage {
        width: 75%;

        & .grid {
            gap: 2rem;
        }
    }

    .section-hero--content {
        padding-bottom: 14rem;
    }

    .btn {
        padding: 0.5rem 0.8rem 0.8rem 1rem;
    }

    .container2 .contact-content {
        padding: 2rem 0 7rem 4rem;
    }

    .container2 .contact-image {
        padding: 2rem 0 7rem 4rem;

        & img {
            width: 25rem;
            height: 22rem;
        }
    }
   
}

@media only screen and (max-width:800px) {
    .phone-navbar {
        & .list-change {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: self-end;

            height: 100vh;
            width: 30vw;
            top: 68.5%;
            right: 0;
            background-color: rgb(203, 215, 237);

            & .phone-nav-item {
                padding: 3rem 2rem 0 0;

                & .nav-link {
                    font-size: 3rem;
                    color: var(--black-color);
                }
            }
        }
    }

    .section-about .grid {
        grid-template-columns: 1fr;
    }

    .section-about .about-div {
        text-align: left;
    }

    .section-why--choose {
        & .grid-three--cols {
            grid-template-columns: 1fr;
        }

        & img {
            width: 100%;
        }

        & .why-choose--div {
            align-items: start;
            text-align: left;
        }

        & .text-align--right .why-choose--div {
            align-items: flex-start;
            text-align: left;
        }
    }

    .section-contact--homepage {
        width: 90%;
    }
    footer .grid-four--cols {
        grid-template-columns: repeat(3, minmax(50px, 1fr));
    }

}

@media only screen and (max-width:700px) {
    .phone-navbar {
        & .list-change {
            top: 74.8%;
        }
    }
    .section-contact{
        & .grid{
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            & .contact-content{
                & form .grid{
                   gap:1rem;
                }
            }
            & .contact-map img{
                width: 50rem;
            }
        }
    }
    .section-contact{
        & .grid{
            & .contact-map img{
                width:30rem;
            }
        }
    }
}

@media only screen and (max-width:600px) {
    .phone-navbar {
        & .list-change {
            top: 79.8%;
        }
    }

    .section-course .grid-four--cols {
        & .course-div {
            padding: 1rem;
        }
    }
    .section-contact{
        & .grid{
            & .contact-map img{
                width:50rem;
            }
        }
    }
}

@media only screen and (max-width:550px) {
    .phone-navbar {
        & .list-change {
            top: 84.8%;
        }
    }

    .section-hero {
        & .grid-two--cols {
            & .hero-subheading {
                font-size: 1.5rem;
            }

            & .hero-heading {
                font-size: 4rem;
            }

            & .section-hero--content {
                padding-bottom: 1rem;

                & .hero-para {
                    font-size: 1.4rem;
                }
            }

            & .section-hero--image {
                height: 39rem;

                & img {
                    height: 40rem;
                }
            }
        }
    }

    .section-contact--homepage {
        height: auto;

        & .grid {
            place-items: center;
            grid-template-columns: 1fr;
            gap: .5rem;

            & .contact-content {
                padding-top: 1rem;
                padding-right: 1rem;
                padding: 2rem;
            }

            & .contact-image {
                padding: 0;

                & img {
                    padding: .5rem;
                    align-items: center;
                    width:30rem;
                }
            }
           
        }
    }

    .section-contact{
        & .grid{
            & .contact-map img{
                width:40rem;
            }
        }
    }
}

@media only screen and (max-width:500px) {
    .phone-navbar {
        & .list-change {
            top: 89.8%;
            & .phone-nav-item {
                & .nav-link {
                    font-size:2rem;
                }
            }
        }
    }
}

@media only screen and (max-width:450px) {
    .phone-navbar {
        & .list-change {
            top: 98.8%;
            & .phone-nav-item {
                & .nav-link {
                    font-size:1.5rem;
                }
            }
        }
    }
    .section-contact{
        & .grid{
            & .contact-map img{
                width:30rem;
            }
        }
    }
}